/bin/
*.class
.classpath
.project
/.settings/
.idea/
*.info
*.res
*.iml
/out/
stava.iml
.DS_Store
/benchmarks/dacapo/dacapo-9.12-MR1-bach.jar

.vscode/
/benchmarks/dacapo/out/
/benchmarks/dacapo/scratch/
/scripts/fop_v2.txt
/scripts/h2_v2.txt
/scripts/eclipse_v2.txt
/scripts/lusearch_v2.txt
/scripts/luindex_v2.txt
/scripts/xalan_v2.txt
/scripts/avrora_v2.txt
/scripts/batik_v2.txt
/scripts/pmd_v2.txt